/* <div id="container">
    <h1>Регистрация</h1>
    <form name="Sel3">
        <table>
            <tr>
                <td><b>Идентификатор:</b></td>
                <td><input name="Id" size="20" onBlur="this.value=this.value.toUpperCase()"></td>
            </tr>
            <tr>
                <td><b>Пароль:</b></td>
                <td><input type="password" name="Pwd" size="20" onFocus="this.select();"></td>
            </tr>
            <tr>
                <td><b>Проверка пароля:</b></td>
                <td><input type="password" name="Pwd1" size="20" onFocus="this.select();"></td>
            </tr>
        </table>
        <input type="button" value="Готово" onClick="Complete1();">
        <input type="reset" value="Сброс">
    </form>

    <div id="tooltip"></div>

@keyframes background {
  50% {
    background: skyblue;
  }
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, rgba(238,174,202,1), rgba(148,187,233,1));
  font-size: 16px;
  overflow: hidden;
}

.content {
  background: rgb(238,174,202);
  background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

.content a{
  text-decoration: none;
  color: rgb(62, 166, 214);
  transition: transform 1.2s ease-in-out;
}

.subheading {
  color: rgb(229, 229, 237);
  font-size: 20px;
  font-weight: 800;
  font-family: monospace;
  color: rgb(237, 236, 236);
  text-align: center;
  margin: 30px auto auto auto;
}

#logo {
  font-size: 74px;
  font-family: monospace;
  color: rgb(237, 236, 236);
  font-weight: 800;
  text-align: center;
  margin: 40px auto auto auto;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
} */

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* выберите подходящий шрифт */
  color: #fff; /* белый цвет текста */
}

header {
  padding: 20px;
  text-align: center;
}

#logo {
  font-size: 24px;
  font-weight: bold;
}

.content {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
}

a.link {
  color: #fff; /* белый цвет ссылок */
  text-decoration: none;
  margin: 0 10px;
}

a.link:hover {
  text-decoration: underline; /* подчеркивание при наведении */
}

.bi {
  vertical-align: middle;
  margin-right: 5px; /* добавление небольшого отступа между иконкой и текстом */
}