body {
  margin: 0;
}

DIV {
  width: 100%;
  max-width: 80%;
  height: 200px;
  background: gold;
  box-shadow: 0 -200px 100px -120px crimson inset;
  border-radius: 30px;
  border: 10px solid white;
  animation: background 3s infinite alternate;
}

@keyframes background {
  50% {
    background: skyblue;
    box-shadow: 0 -200px 100px -100px yellowgreen inset;
  }
}

BODY {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EEE;
  font-size: 16px;
}

.content {
  background-color: rgba(255, 255, 255, .8);
  border-radius: .25em;
  box-shadow: 0 0 .25em rgba(0, 0, 0, .25);
  box-sizing: border-box;
  left: 50%;
  padding: 10vmin;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
}

h1 {
  font-family: monospace;
}

.content a{
  text-decoration: none;
  color: rgb(62, 166, 214);
  transition: transform 1.2s ease-in-out;
}

.subheading {
  color: rgb(229, 229, 237);
  font-size: 20px;
  font-weight: 800;
  font-family: monospace;
  color: rgb(237, 236, 236);
  text-align: center;
  margin: 30px auto auto auto;
}

#logo {
  font-size: 74px;
  font-family: monospace;
  color: rgb(237, 236, 236);
  font-weight: 800;
  text-align: center;
  margin: 40px auto auto auto;
}

@keyframes slide {
  0% {
    transform: translateX(-25%);
  }
  100% {
    transform: translateX(25%);
  }
}
