body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background: linear-gradient(to bottom right, #4e54c8, #8f94fb);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  transition: background 0.5s ease; /* Плавный переход градиента фона */
}

header {
  padding: 20px;
  text-align: center;
}

#logo {
  font-size: 24px;
  font-weight: bold;
}

.content {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 24px;
}

a.link {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
}

a.link:hover {
  text-decoration: underline;
}

.bi {
  vertical-align: middle;
  margin-right: 5px;
}
